{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "히트존 API 문서",
    "description" : "Spring REST Docs with Swagger UI.",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://git.hitzone.store"
  } ],
  "tags" : [ ],
  "paths" : {
    "/api/v1/signup" : {
      "post" : {
        "tags" : [ "User" ],
        "summary" : "온보딩 정보를 토대로 회원가입을 진행한다.",
        "description" : "온보딩 정보를 토대로 회원가입을 진행한다.",
        "operationId" : "signup",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-v1-signup-931151294"
              },
              "examples" : {
                "signup" : {
                  "value" : "{\n  \"nickname\" : \"유저 닉네임\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-v1-nickname-check-145562816"
                },
                "examples" : {
                  "signup" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"201\",\n  \"message\" : \"회원가입이 완료되었습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-info" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "유저의 회원정보를 조회한다.",
        "description" : "유저의 회원정보를 조회한다.",
        "operationId" : "user-info",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-v1-user-info1491427589"
                },
                "examples" : {
                  "user-info" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"유저 정보 조회가 완료되었습니다.\",\n  \"payload\" : {\n    \"nickname\" : \"유저 닉네임\",\n    \"email\" : \"유저 이메일\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chatbot/clova" : {
      "post" : {
        "tags" : [ "Chatbot" ],
        "summary" : "Clova 챗봇 답변을 조회한다.",
        "description" : "Clova 챗봇 답변을 조회한다.",
        "operationId" : "chatbot/clova",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetClovaChatbotAnswerRequest"
              },
              "examples" : {
                "chatbot/clova" : {
                  "value" : "{\n  \"message\" : \"너 누구야?\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetClovaChatbotAnswerResponse"
                },
                "examples" : {
                  "chatbot/clova" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"네이버 클로바 챗봇 답변을 가져오는 데 성공했습니다.\",\n  \"payload\" : {\n    \"answer\" : \"안녕하세요! 저는 야구 가이드 챗봇 '루키'에요! 야구에 대한 궁금한 점이 있다면 언제든지 물어봐 주세요!\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chatbot/guide" : {
      "get" : {
        "tags" : [ "Chatbot" ],
        "summary" : "가이드 챗봇 답변을 조회한다.",
        "description" : "가이드 챗봇 답변을 조회한다.",
        "operationId" : "chatbot/guide",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "경기장 이름",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryName",
          "in" : "query",
          "description" : "카테고리 이름",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderNumber",
          "in" : "query",
          "description" : "질문 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetGuideChatbotAnswerResponse"
                },
                "examples" : {
                  "chatbot/guide" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"가이드 챗봇 답변을 가져오는 데 성공했습니다.\",\n  \"payload\" : {\n    \"answers\" : [ \"각 구장에 위치한 굿즈샵에서 원하는 응원 도구를 구매할 수 있어요!\", \"잠실 야구장의 경우, 지하철 2호선 '종합운동장역' 6번 출구 앞에 위치한 야구 용품샵 '유니크 스포츠'를 이용할 수 있어요! 홈팀인 엘지 트윈스와 두산 베어스의 굿즈 뿐만 아니라, 원정팀들의 굿즈도 있으니 한 번 방문해보세요!\", \"종합운동장역을 나가기 전, 역사에 위치한 ‘라커디움파크 종합운동장역점’에서도 굿즈를 판매 중이에요!\" ],\n    \"imgUrl\" : null\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nickname/check" : {
      "post" : {
        "tags" : [ "User" ],
        "summary" : "닉네임 중복 유무를 확인한다.",
        "description" : "닉네임 중복 유무를 확인한다.",
        "operationId" : "nickname/check",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-v1-nickname-check486549215"
              },
              "examples" : {
                "nickname/check" : {
                  "value" : "{\n  \"nickname\" : \"유저 닉네임\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-v1-nickname-check-145562816"
                },
                "examples" : {
                  "nickname/check" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"사용할 수 있는 닉네임입니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/results/profile" : {
      "get" : {
        "tags" : [ "Result" ],
        "summary" : "해당 결과의 유저 프로필 정보를 조회한다.",
        "description" : "해당 결과의 유저 프로필 정보를 조회한다.",
        "operationId" : "results/profile",
        "parameters" : [ {
          "name" : "resultId",
          "in" : "query",
          "description" : "조회할 결과의 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetProfileResponseDto"
                },
                "examples" : {
                  "results/profile" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 결과의 프로필 정보를 조회하였습니다.\",\n  \"payload\" : {\n    \"profileId\" : 1,\n    \"nickname\" : \"이러다 공까지 먹어버러\",\n    \"type\" : \"야구가 참 맛있고 음식이 재밌어요\",\n    \"explanation\" : \"야구장에서 먹는 재미까지 놓치지 않는 당신!\\n야구장을 두 배로 재밌게 즐기는군요?\",\n    \"hashTags\" : [ \"#먹으러왔는데야구도한다?\", \"#그래서여기구장맛있는거뭐라고?\" ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/results/save" : {
      "post" : {
        "tags" : [ "Result" ],
        "summary" : "구역 추천 결과를 저장한다. (어세스토큰은 기입/미기입 모두 가능)",
        "description" : "구역 추천 결과를 저장한다. (어세스토큰은 기입/미기입 모두 가능)",
        "operationId" : "results/save",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-v1-results-save152467652"
              },
              "examples" : {
                "results/save" : {
                  "value" : "{\n  \"stadium\" : \"잠실종합운동장\",\n  \"preference\" : \"3루석\",\n  \"clientKeywords\" : [ \"나 혼자\", \"선수들 가까이\", \"열정적인 응원\" ]\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveTopRankedZonesResponseDto"
                },
                "examples" : {
                  "results/save" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"201\",\n  \"message\" : \"추천 받은 유저성향과 구역을 저장하였습니다.\",\n  \"payload\" : {\n    \"resultId\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/results/zones" : {
      "get" : {
        "tags" : [ "Result" ],
        "summary" : "해당 결과의 추천 구역 리스트를 조회한다.",
        "description" : "해당 결과의 추천 구역 리스트를 조회한다.",
        "operationId" : "results/zones",
        "parameters" : [ {
          "name" : "resultId",
          "in" : "query",
          "description" : "조회할 결과의 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "조회할 결과에 대한 추천구역의 개수",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetZonesResponseDto"
                },
                "examples" : {
                  "results/zones" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 결과의 추천 구역 정보 리스트를 조회하였습니다.\",\n  \"payload\" : {\n    \"zones\" : [ {\n      \"zoneId\" : 1,\n      \"name\" : \"레드석\",\n      \"explanations\" : [ \"응원도 적당히 즐길 수 있지만, 야구나 함께 온 동행자와의 대화에도 집중할 수 있는 구역이에요!\" ],\n      \"tip\" : \"해당 구역은 다양한 것들을 모두 적절히 즐길 수 있는 구역이예요.\",\n      \"referencesGroup\" : [ {\n        \"groupTitle\" : \"레드석 참고하세요.\",\n        \"references\" : [ {\n          \"title\" : \"시야가 중요하신 분\",\n          \"content\" : \"외야와 가까운 쪽은 예매 시 시야 확인이 필요해요. 기둥이나 그물망으로 시야 방해를 받을 수 있어요!\"\n        }, {\n          \"title\" : \"시끄러운 것을 좋아하지 않는 분\",\n          \"content\" : \"오렌지석이 앞에 있어서 스피커 때문에 많이 시끄러워요. 조용한 관람을 원하시면 다른 구역을 추천해요!\"\n        } ]\n      } ]\n    }, {\n      \"zoneId\" : 2,\n      \"name\" : \"블루석\",\n      \"explanations\" : [ \"힘차게 응원도 가능하고, 야구에 집중도 할 수 있는 구역이에요!\" ],\n      \"tip\" : \"해당 구역은 비교적 조용히 경기 관람이 가능한 구역이예요.\",\n      \"referencesGroup\" : [ {\n        \"groupTitle\" : \"블루석 참고하세요.\",\n        \"references\" : [ {\n          \"title\" : \"시야가 중요하신 분\",\n          \"content\" : \"홈과 가까운 쪽은 예매 시 시야 확인이 필요해요. 그물망으로 인해 시야 방해를 받을 수 있어요!\"\n        }, {\n          \"title\" : \"적당한 응원을 하고 싶으신 분\",\n          \"content\" : \"비교적 조용히 경기를 관람하고 적당히 응원할 수 있는 곳이에요. 열정적인 응원을 하고 싶으신 분들은 다른 구역을 더 추천해요!\"\n        } ]\n      } ]\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stadium/zones" : {
      "get" : {
        "tags" : [ "Stadium" ],
        "summary" : "해당 스타디움의 구역 목록들을 조회한다.",
        "description" : "해당 스타디움의 구역 목록들을 조회한다.",
        "operationId" : "stadium/names",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "스타디움명",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetZonesNameResponseDto"
                },
                "examples" : {
                  "stadium/names" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 스타디움의 구역 이름들이 조회되었습니다.\",\n  \"payload\" : {\n    \"names\" : [ \"레드석\", \"블루석\", \"네이비석\", \"오렌지석\", \"익사이팅석\", \"외야그린석\", \"테이블석\", \"프리미엄석\" ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test/docs" : {
      "post" : {
        "tags" : [ "TEST" ],
        "summary" : "Rest Docs post 테스트용 API",
        "description" : "Rest Docs post 테스트용 API",
        "operationId" : "test/docs",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "테스트 네임",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "keyword",
          "in" : "query",
          "description" : "테스트 키워드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-v1-test-docs-231805054"
              },
              "examples" : {
                "test/docs" : {
                  "value" : "{\n  \"tip\" : \"테스트팁\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestDocsResponseDto"
                },
                "examples" : {
                  "test/docs" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"성공입니다.\",\n  \"payload\" : {\n    \"keyword\" : \"테스트키워드\",\n    \"tip\" : \"테스트팁\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stadium/zones/guide" : {
      "get" : {
        "tags" : [ "Stadium" ],
        "summary" : "해당 구역에 대한 구역 가이드 정보를 조회한다.",
        "description" : "해당 구역에 대한 구역 가이드 정보를 조회한다.",
        "operationId" : "stadium/guide",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "스타디움명",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zoneName",
          "in" : "query",
          "description" : "구역명",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetZoneGuideResponseDto"
                },
                "examples" : {
                  "stadium/guide" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 구역에 대한 가이드 정보가 조회되었습니다.\",\n  \"payload\" : {\n    \"zoneName\" : \"레드석\",\n    \"explanation\" : \"해당 구역은 다양한 것들을 모두 적절히 즐길 수 있는 구역이에요.\",\n    \"entrance\" : \"[1루] 2-3 Gate [3루] 2-1 Gate\",\n    \"stepSpacing\" : \"[1루] 약 24~30cm(10n열), 약 33~38cm(20n열)\",\n    \"seatSpacing\" : \"[1루] 약 25cm [3루] 약 25cm\",\n    \"usageInformation\" : \"\",\n    \"tip\" : \"해당 구역은 비교적 조용히 경기 관람이 가능한 구역이에요.\",\n    \"referencesGroup\" : [ {\n      \"groupTitle\" : \"레드석 참고하세요.\",\n      \"references\" : [ {\n        \"title\" : \"시야가 중요하신 분\",\n        \"content\" : \"외야와 가까운 쪽은 예매 시 시야 확인이 필요해요.\"\n      }, {\n        \"title\" : \"시끄러운 것을 좋아하지 않는 분\",\n        \"content\" : \"오렌지석이 앞에 있어서 스피커 때문에 많이 시끄러워요.\"\n      } ]\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "api-v1-user-info1491427589" : {
        "required" : [ "code", "isSuccess", "message", "payload" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "email", "nickname" ],
            "type" : "object",
            "properties" : {
              "nickname" : {
                "type" : "string",
                "description" : "유저의 닉네임"
              },
              "email" : {
                "type" : "string",
                "description" : "유저의 이메일"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "TestDocsResponseDto" : {
        "title" : "TestDocsResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "keyword", "tip" ],
            "type" : "object",
            "properties" : {
              "tip" : {
                "type" : "string",
                "description" : "팁"
              },
              "keyword" : {
                "type" : "string",
                "description" : "키워드"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetZonesNameResponseDto" : {
        "title" : "GetZonesNameResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "names" ],
            "type" : "object",
            "properties" : {
              "names" : {
                "type" : "array",
                "description" : "해당 구역명",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetZonesResponseDto" : {
        "title" : "GetZonesResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "type" : "object",
            "properties" : {
              "zones" : {
                "type" : "array",
                "items" : {
                  "required" : [ "explanations", "name", "tip", "zoneId" ],
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "구역 이름"
                    },
                    "referencesGroup" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "groupTitle" ],
                        "type" : "object",
                        "properties" : {
                          "references" : {
                            "type" : "array",
                            "items" : {
                              "required" : [ "content", "title" ],
                              "type" : "object",
                              "properties" : {
                                "title" : {
                                  "type" : "string",
                                  "description" : "참고 항목 제목"
                                },
                                "content" : {
                                  "type" : "string",
                                  "description" : "참고 항목 내용"
                                }
                              }
                            }
                          },
                          "groupTitle" : {
                            "type" : "string",
                            "description" : "참고 그룹 제목"
                          }
                        }
                      }
                    },
                    "explanations" : {
                      "type" : "array",
                      "description" : "구역 설명",
                      "items" : {
                        "oneOf" : [ {
                          "type" : "object"
                        }, {
                          "type" : "boolean"
                        }, {
                          "type" : "string"
                        }, {
                          "type" : "number"
                        } ]
                      }
                    },
                    "zoneId" : {
                      "type" : "number",
                      "description" : "구역 ID"
                    },
                    "tip" : {
                      "type" : "string",
                      "description" : "구역에 대한 팁"
                    }
                  }
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetProfileResponseDto" : {
        "title" : "GetProfileResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "explanation", "hashTags", "nickname", "profileId", "type" ],
            "type" : "object",
            "properties" : {
              "hashTags" : {
                "type" : "array",
                "description" : "해당 결과의 프로필의 해시태그",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "profileId" : {
                "type" : "number",
                "description" : "해당 결과의 프로필 ID"
              },
              "nickname" : {
                "type" : "string",
                "description" : "해당 결과의 프로필의 닉네임"
              },
              "explanation" : {
                "type" : "string",
                "description" : "해당 결과의 프로필 설명"
              },
              "type" : {
                "type" : "string",
                "description" : "해당 결과의 프로필의 타입"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetClovaChatbotAnswerRequest" : {
        "title" : "GetClovaChatbotAnswerRequest",
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "사용자가 보낸 메시지"
          }
        }
      },
      "api-v1-test-docs-231805054" : {
        "required" : [ "tip" ],
        "type" : "object",
        "properties" : {
          "tip" : {
            "type" : "string",
            "description" : "테스트 팁"
          }
        }
      },
      "SaveTopRankedZonesResponseDto" : {
        "title" : "SaveTopRankedZonesResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "resultId" ],
            "type" : "object",
            "properties" : {
              "resultId" : {
                "type" : "number",
                "description" : "저장된 결과 ID"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetClovaChatbotAnswerResponse" : {
        "title" : "GetClovaChatbotAnswerResponse",
        "required" : [ "code", "isSuccess", "message", "payload" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "answer" ],
            "type" : "object",
            "properties" : {
              "answer" : {
                "type" : "string",
                "description" : "Clova 챗봇의 답변"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "api-v1-nickname-check-145562816" : {
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "api-v1-results-save152467652" : {
        "required" : [ "clientKeywords", "preference", "stadium" ],
        "type" : "object",
        "properties" : {
          "preference" : {
            "type" : "string",
            "description" : "선호 구역 (1루석 또는 3루석)"
          },
          "clientKeywords" : {
            "type" : "array",
            "description" : "사용자 키워드 배열",
            "items" : {
              "oneOf" : [ {
                "type" : "object"
              }, {
                "type" : "boolean"
              }, {
                "type" : "string"
              }, {
                "type" : "number"
              } ]
            }
          },
          "stadium" : {
            "type" : "string",
            "description" : "경기장 이름"
          }
        }
      },
      "GetGuideChatbotAnswerResponse" : {
        "title" : "GetGuideChatbotAnswerResponse",
        "required" : [ "code", "isSuccess", "message", "payload" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "answers" ],
            "type" : "object",
            "properties" : {
              "imgUrl" : {
                "type" : "string",
                "description" : "이미지 URL",
                "nullable" : true
              },
              "answers" : {
                "type" : "array",
                "description" : "답변 목록",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "api-v1-signup-931151294" : {
        "required" : [ "nickname" ],
        "type" : "object",
        "properties" : {
          "nickname" : {
            "type" : "string",
            "description" : "유저 닉네임"
          }
        }
      },
      "GetZoneGuideResponseDto" : {
        "title" : "GetZoneGuideResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "entrance", "explanation", "seatSpacing", "stepSpacing", "tip", "usageInformation", "zoneName" ],
            "type" : "object",
            "properties" : {
              "stepSpacing" : {
                "type" : "string",
                "description" : "구역 단차 간격"
              },
              "referencesGroup" : {
                "type" : "array",
                "items" : {
                  "required" : [ "groupTitle" ],
                  "type" : "object",
                  "properties" : {
                    "references" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "content", "title" ],
                        "type" : "object",
                        "properties" : {
                          "title" : {
                            "type" : "string",
                            "description" : "참고사항 제목"
                          },
                          "content" : {
                            "type" : "string",
                            "description" : "참고사항 내용"
                          }
                        }
                      }
                    },
                    "groupTitle" : {
                      "type" : "string",
                      "description" : "구역 참고사항리스트의 제목"
                    }
                  }
                }
              },
              "usageInformation" : {
                "type" : "string",
                "description" : "구역 유용 정보"
              },
              "tip" : {
                "type" : "string",
                "description" : "구역 팁"
              },
              "seatSpacing" : {
                "type" : "string",
                "description" : "구역 좌석간 간격"
              },
              "zoneName" : {
                "type" : "string",
                "description" : "구역명"
              },
              "entrance" : {
                "type" : "string",
                "description" : "구역 입구"
              },
              "explanation" : {
                "type" : "string",
                "description" : "구역 설명"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "api-v1-nickname-check486549215" : {
        "type" : "object"
      }
    }
  }
}