{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "히트존 API 문서",
    "description" : "Spring REST Docs with Swagger UI.",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://git.hitzone.store"
  } ],
  "tags" : [ ],
  "paths" : {
    "/api/v1/entertainments" : {
      "get" : {
        "tags" : [ "Stadium" ],
        "summary" : "해당 구장의 즐길거리 목록을 조회한다.",
        "description" : "해당 구장의 즐길거리 목록을 조회한다.",
        "operationId" : "entertainments",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "구장명 [예시 : 잠실종합운동장]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "boundary",
          "in" : "query",
          "description" : "구장 영역 (내부 or 외부) [예시 : 내부]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetEntertainmentsResponseDto"
                },
                "examples" : {
                  "entertainments" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"구장내부 즐길거리 조회가 완료되었습니다.\",\n  \"payload\" : {\n    \"entertainments\" : [ {\n      \"imgUrl\" : \"테스트이미지\",\n      \"boundary\" : \"INTERIOR\",\n      \"name\" : \"포토카드\",\n      \"explanations\" : [ \"선수들의 사진을 뽑을 수 있는 포토카드! 경기 시작 전에 포토카드 기계로 가서 포토카드를 뽑을 수 있어요.\" ],\n      \"tips\" : [ \"기계의 QR을 통해 원하는 선수나, 자신의 사진으로 커스텀 포토카드를 뽑을 수 있으니 참고하세요!\" ]\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/foods" : {
      "get" : {
        "tags" : [ "Stadium" ],
        "summary" : "해당 구장의 음식 목록을 조회한다.",
        "description" : "해당 구장의 음식 목록을 조회한다.",
        "operationId" : "foods",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "구장명 [예시 : 잠실종합운동장]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "boundary",
          "in" : "query",
          "description" : "구장 영역(내부 or 외부) [예시 : 내부]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "course",
          "in" : "query",
          "description" : "구장 코스(식사 or 후식) - 내부일때는 꼭 입력해주세요 [예시 : 후식]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetFoodsResponseDto"
                },
                "examples" : {
                  "foods" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"구장내부 디저트류 매장 조회가 완료되었습니다.\",\n  \"payload\" : {\n    \"foods\" : [ {\n      \"imgUrl\" : \"테스트이미지\",\n      \"boundary\" : \"INTERIOR\",\n      \"course\" : \"DESSERT\",\n      \"name\" : \"통밥\",\n      \"location\" : \"2층 B06 / 2.5층 C05 (1,3루 내야지정석)\",\n      \"menu\" : [ \"김치말이국수\" ],\n      \"price\" : \"국수 7,000원 (삼겹살+국수 세트 26,000원)\",\n      \"tip\" : \"잠실야구장의 최고 인기 메뉴, 김치말이국수! 전석 매진일 기준 경기 1시간 전 주문 필요해요.\"\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/signup" : {
      "post" : {
        "tags" : [ "User" ],
        "summary" : "온보딩 정보를 토대로 회원가입을 진행한다.",
        "description" : "온보딩 정보를 토대로 회원가입을 진행한다.",
        "operationId" : "signup",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/SignUpRequest"
              },
              "examples" : {
                "signup" : {
                  "value" : "{\n  \"nickname\" : \"유저 닉네임\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SignUpResponse"
                },
                "examples" : {
                  "signup" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"201\",\n  \"message\" : \"회원가입이 완료되었습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-info" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "유저의 회원정보를 조회한다.",
        "description" : "유저의 회원정보를 조회한다.",
        "operationId" : "user-info",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetUserInfoResponse"
                },
                "examples" : {
                  "user-info" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"유저 정보 조회가 완료되었습니다.\",\n  \"payload\" : {\n    \"nickname\" : \"유저 닉네임\",\n    \"email\" : \"유저 이메일\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chatbot/clova" : {
      "post" : {
        "tags" : [ "Chatbot" ],
        "summary" : "Clova 챗봇 답변을 조회한다.",
        "description" : "Clova 챗봇 답변을 조회한다.",
        "operationId" : "chatbot/clova",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetClovaChatbotAnswerRequest"
              },
              "examples" : {
                "chatbot/clova" : {
                  "value" : "{\n  \"message\" : \"너 누구야?\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetClovaChatbotAnswerResponse"
                },
                "examples" : {
                  "chatbot/clova" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"네이버 클로바 챗봇 답변을 가져오는 데 성공했습니다.\",\n  \"payload\" : {\n    \"answer\" : \"안녕하세요! 저는 야구 가이드 챗봇 '루키'에요! 야구에 대한 궁금한 점이 있다면 언제든지 물어봐 주세요!\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chatbot/guide" : {
      "get" : {
        "tags" : [ "Chatbot" ],
        "summary" : "가이드 챗봇 답변을 조회한다.",
        "description" : "가이드 챗봇 답변을 조회한다.",
        "operationId" : "chatbot/guide",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "경기장 이름 [예시: lg]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryName",
          "in" : "query",
          "description" : "카테고리 이름 [예시: stadium]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderNumber",
          "in" : "query",
          "description" : "질문 번호 [예시: 3 (NUMBER type)]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetGuideChatbotAnswerResponse"
                },
                "examples" : {
                  "chatbot/guide" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"가이드 챗봇 답변을 가져오는 데 성공했습니다.\",\n  \"payload\" : {\n    \"answers\" : [ \"각 구장에 위치한 굿즈샵에서 원하는 응원 도구를 구매할 수 있어요!\", \"잠실 야구장의 경우, 지하철 2호선 '종합운동장역' 6번 출구 앞에 위치한 야구 용품샵 '유니크 스포츠'를 이용할 수 있어요! 홈팀인 엘지 트윈스와 두산 베어스의 굿즈 뿐만 아니라, 원정팀들의 굿즈도 있으니 한 번 방문해보세요!\", \"종합운동장역을 나가기 전, 역사에 위치한 ‘라커디움파크 종합운동장역점’에서도 굿즈를 판매 중이에요!\" ],\n    \"imgUrl\" : null\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nickname/check" : {
      "post" : {
        "tags" : [ "User" ],
        "summary" : "닉네임 중복 유무를 확인한다.",
        "description" : "닉네임 중복 유무를 확인한다.",
        "operationId" : "nickname/check",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNicknameRequest"
              },
              "examples" : {
                "nickname/check" : {
                  "value" : "{\n  \"nickname\" : \"유저 닉네임\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNicknameResponse"
                },
                "examples" : {
                  "nickname/check" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"사용할 수 있는 닉네임입니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/results/profile" : {
      "get" : {
        "tags" : [ "Result" ],
        "summary" : "해당 결과의 유저 프로필 정보를 조회한다.",
        "description" : "해당 결과의 유저 프로필 정보를 조회한다.",
        "operationId" : "results/profile",
        "parameters" : [ {
          "name" : "resultId",
          "in" : "query",
          "description" : "조회할 결과의 ID [예시 : 1 (NUMBER type)]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetProfileResponseDto"
                },
                "examples" : {
                  "results/profile" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 결과의 프로필 정보를 조회하였습니다.\",\n  \"payload\" : {\n    \"profileId\" : 1,\n    \"imgUrl\" : \"https://kr.object.ncloudstorage.com/hitzone-bucket/hitzone/recommendation/eating.svg\",\n    \"nickname\" : \"이러다 공까지 먹어버러\",\n    \"type\" : \"야구가 참 맛있고 음식이 재밌어요\",\n    \"hashTags\" : [ \"#야구장미식가\", \"#먹으러왔는데야구도한다?\" ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/results/save" : {
      "post" : {
        "tags" : [ "Result" ],
        "summary" : "구역 추천 결과를 저장한다. (accessToken은 기입/미기입 모두 가능)",
        "description" : "구역 추천 결과를 저장한다. (accessToken은 기입/미기입 모두 가능)",
        "operationId" : "results/save",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/SaveTopRankedZoneRequestDto"
              },
              "examples" : {
                "results/save" : {
                  "value" : "{\n  \"stadium\" : \"잠실종합운동장 (잠실)\",\n  \"preference\" : \"3루석\",\n  \"clientKeywords\" : [ \"나 혼자\", \"선수들 가까이\", \"열정적인 응원\" ]\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveTopRankedZoneResponseDto"
                },
                "examples" : {
                  "results/save" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"201\",\n  \"message\" : \"추천 받은 유저성향과 구역을 저장하였습니다.\",\n  \"payload\" : {\n    \"resultId\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/results/zones" : {
      "get" : {
        "tags" : [ "Result" ],
        "summary" : "해당 결과의 추천 구역 리스트를 조회한다.",
        "description" : "해당 결과의 추천 구역 리스트를 조회한다.",
        "operationId" : "results/zones",
        "parameters" : [ {
          "name" : "resultId",
          "in" : "query",
          "description" : "조회할 결과의 ID [예시 : 2 (NUMBER type)]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "조회할 추천 구역의 개수 [예시 : 2 (NUMBER type)]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetZonesResponseDto"
                },
                "examples" : {
                  "results/zones" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 결과의 추천 구역 정보 리스트를 조회하였습니다.\",\n  \"payload\" : {\n    \"zones\" : [ {\n      \"zoneId\" : 1,\n      \"name\" : \"레드석\",\n      \"color\" : \"#DC032A\",\n      \"explanations\" : [ \"응원도 적당히 즐길 수 있지만, 야구나 함께 온 동행자와의 대화에도 집중할 수 있는 구역이에요!\" ],\n      \"tip\" : \"해당 구역은 다양한 것들을 모두 적절히 즐길 수 있는 구역이예요.\",\n      \"referencesGroup\" : [ {\n        \"groupTitle\" : \"레드석 참고하세요.\",\n        \"references\" : [ {\n          \"title\" : \"시야가 중요하신 분\",\n          \"contents\" : [ \"외야와 가까운 쪽은 예매 시 시야 확인이 필요해요.\" ]\n        }, {\n          \"title\" : \"시끄러운 것을 좋아하지 않는 분\",\n          \"contents\" : [ \"오렌지석이 앞에 있어서 스피커 때문에 많이 시끄러워요.\" ]\n        } ]\n      } ]\n    }, {\n      \"zoneId\" : 2,\n      \"name\" : \"블루석\",\n      \"color\" : \"#4699F2\",\n      \"explanations\" : [ \"힘차게 응원도 가능하고, 야구에 집중도 할 수 있는 구역이에요!\" ],\n      \"tip\" : \"해당 구역은 비교적 조용히 경기 관람이 가능한 구역이에요.\",\n      \"referencesGroup\" : [ {\n        \"groupTitle\" : \"블루석 참고하세요.\",\n        \"references\" : [ {\n          \"title\" : \"시야가 중요하신 분\",\n          \"contents\" : [ \"홈과 가까운 쪽은 예매 시 시야 확인이 필요해요. 그물망으로 인해 시야 방해를 받을 수 있어요!\" ]\n        }, {\n          \"title\" : \"적당한 응원을 하고 싶으신 분\",\n          \"contents\" : [ \"비교적 조용히 경기를 관람하고 적당히 응원할 수 있는 곳이에요. 열정적인 응원을 하고 싶으신 분들은 다른 구역을 더 추천해요!\" ]\n        } ]\n      } ]\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stadium/zones" : {
      "get" : {
        "tags" : [ "Stadium" ],
        "summary" : "해당 스타디움의 정보를 조회한다.",
        "description" : "해당 스타디움의 정보를 조회한다.",
        "operationId" : "stadium/names",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "스타디움명 [예시 : 잠실종합운동장 (잠실)]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetStadiumInfosResponseDto"
                },
                "examples" : {
                  "stadium/names" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 스타디움의 정보가 조회되었습니다.\",\n  \"payload\" : {\n    \"imgUrl\" : \"https://kr.object.ncloudstorage.com/hitzone-bucket/hitzone/guide/lg/guide_home_lg.svg\",\n    \"firstBaseSide\" : \"두산베어스, LG 트윈스\",\n    \"thirdBaseSide\" : \"상대팀\",\n    \"zones\" : [ {\n      \"zoneName\" : \"레드석\",\n      \"zoneColor\" : \"#DC032A\"\n    }, {\n      \"zoneName\" : \"블루석\",\n      \"zoneColor\" : \"#4699F2\"\n    }, {\n      \"zoneName\" : \"네이비석\",\n      \"zoneColor\" : \"#242953\"\n    }, {\n      \"zoneName\" : \"오렌지석\",\n      \"zoneColor\" : \"#E16900\"\n    }, {\n      \"zoneName\" : \"익사이팅석\",\n      \"zoneColor\" : \"#6D6D6D\"\n    }, {\n      \"zoneName\" : \"외야그린석\",\n      \"zoneColor\" : \"#339600\"\n    }, {\n      \"zoneName\" : \"테이블석\",\n      \"zoneColor\" : \"#7C0065\"\n    }, {\n      \"zoneName\" : \"프리미엄석\",\n      \"zoneColor\" : \"#185DDD\"\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/token/re-issue" : {
      "put" : {
        "tags" : [ "Auth" ],
        "summary" : "리프레시 토큰을 통해 액세스 토큰을 재발급합니다.",
        "description" : "리프레시 토큰을 통해 액세스 토큰을 재발급합니다.",
        "operationId" : "token/re-issue",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-v1-token-re-issue-145562816"
                },
                "examples" : {
                  "token/re-issue" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"토큰 재발급에 성공하였습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stadium/zones/guide" : {
      "get" : {
        "tags" : [ "Stadium" ],
        "summary" : "해당 구역에 대한 구역 가이드 정보를 조회한다.",
        "description" : "해당 구역에 대한 구역 가이드 정보를 조회한다.",
        "operationId" : "stadium/guide",
        "parameters" : [ {
          "name" : "stadiumName",
          "in" : "query",
          "description" : "스타디움명 [예시 : 잠실종합운동장 (잠실)]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zoneName",
          "in" : "query",
          "description" : "구역명 [예시 : 레드석]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetZoneGuideResponseDto"
                },
                "examples" : {
                  "stadium/guide" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"200\",\n  \"message\" : \"해당 구역에 대한 가이드 정보가 조회되었습니다.\",\n  \"payload\" : {\n    \"imgUrl\" : \"https://kr.object.ncloudstorage.com/hitzone-bucket/hitzone/guide/lg/red.svg\",\n    \"zoneName\" : \"레드석\",\n    \"zoneColor\" : \"#DC032A\",\n    \"explanation\" : \"해당 구역은 다양한 것들을 모두 적절히 즐길 수 있는 구역이에요.\",\n    \"firstBaseSide\" : \"두산베어스, LG 트윈스\",\n    \"thirdBaseSide\" : \"상대팀\",\n    \"entrance\" : [ \"[1루] 2-3 Gate [3루] 2-1 Gate\" ],\n    \"stepSpacing\" : [ \"[1루] 약 24~30cm(10n열), 약 33~38cm(20n열)\" ],\n    \"seatSpacing\" : [ \"[1루] 약 25cm [3루] 약 25cm\" ],\n    \"usageInformation\" : [ \"\" ],\n    \"tip\" : \"해당 구역은 비교적 조용히 경기 관람이 가능한 구역이에요.\",\n    \"referencesGroup\" : [ {\n      \"groupTitle\" : \"레드석 참고하세요.\",\n      \"references\" : [ {\n        \"title\" : \"시야가 중요하신 분\",\n        \"contents\" : [ \"외야와 가까운 쪽은 예매 시 시야 확인이 필요해요.\" ]\n      }, {\n        \"title\" : \"시끄러운 것을 좋아하지 않는 분\",\n        \"contents\" : [ \"오렌지석이 앞에 있어서 스피커 때문에 많이 시끄러워요.\" ]\n      } ]\n    } ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GetZoneGuideResponseDto" : {
        "title" : "GetZoneGuideResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "entrance", "explanation", "firstBaseSide", "imgUrl", "seatSpacing", "stepSpacing", "thirdBaseSide", "tip", "usageInformation", "zoneColor", "zoneName" ],
            "type" : "object",
            "properties" : {
              "imgUrl" : {
                "type" : "string",
                "description" : "이미지 URL"
              },
              "stepSpacing" : {
                "type" : "array",
                "description" : "구역 단차 간격",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "referencesGroup" : {
                "type" : "array",
                "items" : {
                  "required" : [ "groupTitle" ],
                  "type" : "object",
                  "properties" : {
                    "references" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "contents", "title" ],
                        "type" : "object",
                        "properties" : {
                          "contents" : {
                            "type" : "array",
                            "description" : "참고사항 내용",
                            "items" : {
                              "oneOf" : [ {
                                "type" : "object"
                              }, {
                                "type" : "boolean"
                              }, {
                                "type" : "string"
                              }, {
                                "type" : "number"
                              } ]
                            }
                          },
                          "title" : {
                            "type" : "string",
                            "description" : "참고사항 제목"
                          }
                        }
                      }
                    },
                    "groupTitle" : {
                      "type" : "string",
                      "description" : "구역 참고사항리스트의 제목"
                    }
                  }
                }
              },
              "usageInformation" : {
                "type" : "array",
                "description" : "구역 유용 정보",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "tip" : {
                "type" : "string",
                "description" : "구역 팁"
              },
              "thirdBaseSide" : {
                "type" : "string",
                "description" : "3루석 설명"
              },
              "seatSpacing" : {
                "type" : "array",
                "description" : "구역 좌석간 간격",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "zoneName" : {
                "type" : "string",
                "description" : "구역명"
              },
              "entrance" : {
                "type" : "array",
                "description" : "구역 입구",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "explanation" : {
                "type" : "string",
                "description" : "구역 설명"
              },
              "zoneColor" : {
                "type" : "string",
                "description" : "구역 색상"
              },
              "firstBaseSide" : {
                "type" : "string",
                "description" : "1루석 설명"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "SignUpRequest" : {
        "title" : "SignUpRequest",
        "required" : [ "nickname" ],
        "type" : "object",
        "properties" : {
          "nickname" : {
            "type" : "string",
            "description" : "사용자가 입력한 닉네임"
          }
        }
      },
      "GetEntertainmentsResponseDto" : {
        "title" : "GetEntertainmentsResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "type" : "object",
            "properties" : {
              "entertainments" : {
                "type" : "array",
                "items" : {
                  "required" : [ "boundary", "explanations", "imgUrl", "name", "tips" ],
                  "type" : "object",
                  "properties" : {
                    "boundary" : {
                      "type" : "string",
                      "description" : "해당 즐길거리의 영역 (내부 or 외부)"
                    },
                    "imgUrl" : {
                      "type" : "string",
                      "description" : "해당 즐길거리의 이미지 URL"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "해당 즐길거리의 이름"
                    },
                    "explanations" : {
                      "type" : "array",
                      "description" : "해당 즐길거리의 설명 리스트",
                      "items" : {
                        "oneOf" : [ {
                          "type" : "object"
                        }, {
                          "type" : "boolean"
                        }, {
                          "type" : "string"
                        }, {
                          "type" : "number"
                        } ]
                      }
                    },
                    "tips" : {
                      "type" : "array",
                      "description" : "해당 즐길거리의 팁 리스트",
                      "items" : {
                        "oneOf" : [ {
                          "type" : "object"
                        }, {
                          "type" : "boolean"
                        }, {
                          "type" : "string"
                        }, {
                          "type" : "number"
                        } ]
                      }
                    }
                  }
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "SignUpResponse" : {
        "title" : "SignUpResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetClovaChatbotAnswerRequest" : {
        "title" : "GetClovaChatbotAnswerRequest",
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "사용자가 보낸 메시지"
          }
        }
      },
      "SaveTopRankedZoneRequestDto" : {
        "title" : "SaveTopRankedZoneRequestDto",
        "required" : [ "clientKeywords", "preference", "stadium" ],
        "type" : "object",
        "properties" : {
          "preference" : {
            "type" : "string",
            "description" : "선호 구역 [예시 : 1루석 또는 3루석]"
          },
          "clientKeywords" : {
            "type" : "array",
            "description" : "사용자 키워드 배열",
            "items" : {
              "oneOf" : [ {
                "type" : "object"
              }, {
                "type" : "boolean"
              }, {
                "type" : "string"
              }, {
                "type" : "number"
              } ]
            }
          },
          "stadium" : {
            "type" : "string",
            "description" : "경기장 이름 [예시 : 잠실종합운동장 (잠실)]"
          }
        }
      },
      "CheckNicknameRequest" : {
        "title" : "CheckNicknameRequest",
        "required" : [ "nickname" ],
        "type" : "object",
        "properties" : {
          "nickname" : {
            "type" : "string",
            "description" : "사용자가 입력한 닉네임"
          }
        }
      },
      "GetClovaChatbotAnswerResponse" : {
        "title" : "GetClovaChatbotAnswerResponse",
        "required" : [ "code", "isSuccess", "message", "payload" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "answer" ],
            "type" : "object",
            "properties" : {
              "answer" : {
                "type" : "string",
                "description" : "Clova 챗봇의 답변"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "api-v1-token-re-issue-145562816" : {
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetStadiumInfosResponseDto" : {
        "title" : "GetStadiumInfosResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "firstBaseSide", "imgUrl", "thirdBaseSide", "zones" ],
            "type" : "object",
            "properties" : {
              "imgUrl" : {
                "type" : "string",
                "description" : "이미지 URL"
              },
              "thirdBaseSide" : {
                "type" : "string",
                "description" : "3루석 설명"
              },
              "zones" : {
                "type" : "array",
                "description" : "구역 정보 리스트",
                "items" : {
                  "required" : [ "zoneColor", "zoneName" ],
                  "type" : "object",
                  "properties" : {
                    "zoneName" : {
                      "type" : "string",
                      "description" : "구역 이름"
                    },
                    "zoneColor" : {
                      "type" : "string",
                      "description" : "구역 색상 코드"
                    }
                  }
                }
              },
              "firstBaseSide" : {
                "type" : "string",
                "description" : "1루석 설명"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetFoodsResponseDto" : {
        "title" : "GetFoodsResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "type" : "object",
            "properties" : {
              "foods" : {
                "type" : "array",
                "items" : {
                  "required" : [ "boundary", "course", "imgUrl", "location", "menu", "name", "price", "tip" ],
                  "type" : "object",
                  "properties" : {
                    "boundary" : {
                      "type" : "string",
                      "description" : "해당 매장의 영역(내부 or 외부)"
                    },
                    "imgUrl" : {
                      "type" : "string",
                      "description" : "해당 매장의 이미지 URL"
                    },
                    "price" : {
                      "type" : "string",
                      "description" : "해당 매장의 음식 가격 정보"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "해당 매장의 이름"
                    },
                    "course" : {
                      "type" : "string",
                      "description" : "해당 매장의 코스(식사 or 후식 or 전체)"
                    },
                    "tip" : {
                      "type" : "string",
                      "description" : "해당 매장과 관련된 팁"
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "해당 매장의 위치"
                    },
                    "menu" : {
                      "type" : "array",
                      "description" : "해당 매장의 대표 메뉴 리스트",
                      "items" : {
                        "oneOf" : [ {
                          "type" : "object"
                        }, {
                          "type" : "boolean"
                        }, {
                          "type" : "string"
                        }, {
                          "type" : "number"
                        } ]
                      }
                    }
                  }
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetProfileResponseDto" : {
        "title" : "GetProfileResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "hashTags", "imgUrl", "nickname", "profileId", "type" ],
            "type" : "object",
            "properties" : {
              "imgUrl" : {
                "type" : "string",
                "description" : "해당 결과의 이미지 URL"
              },
              "hashTags" : {
                "type" : "array",
                "description" : "해당 결과의 프로필 해시태그 리스트",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "profileId" : {
                "type" : "number",
                "description" : "해당 결과의 프로필 ID"
              },
              "nickname" : {
                "type" : "string",
                "description" : "해당 결과의 프로필 닉네임"
              },
              "type" : {
                "type" : "string",
                "description" : "해당 결과의 프로필 타입"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "SaveTopRankedZoneResponseDto" : {
        "title" : "SaveTopRankedZoneResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "resultId" ],
            "type" : "object",
            "properties" : {
              "resultId" : {
                "type" : "number",
                "description" : "저장된 결과 ID"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetGuideChatbotAnswerResponse" : {
        "title" : "GetGuideChatbotAnswerResponse",
        "required" : [ "code", "isSuccess", "message", "payload" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "answers" ],
            "type" : "object",
            "properties" : {
              "imgUrl" : {
                "type" : "string",
                "description" : "이미지 URL",
                "nullable" : true
              },
              "answers" : {
                "type" : "array",
                "description" : "답변 목록",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "CheckNicknameResponse" : {
        "title" : "CheckNicknameResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetZonesResponseDto" : {
        "title" : "GetZonesResponseDto",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "type" : "object",
            "properties" : {
              "zones" : {
                "type" : "array",
                "items" : {
                  "required" : [ "color", "explanations", "name", "tip", "zoneId" ],
                  "type" : "object",
                  "properties" : {
                    "color" : {
                      "type" : "string",
                      "description" : "구역 색상"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "구역 이름"
                    },
                    "referencesGroup" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "groupTitle" ],
                        "type" : "object",
                        "properties" : {
                          "references" : {
                            "type" : "array",
                            "items" : {
                              "required" : [ "contents", "title" ],
                              "type" : "object",
                              "properties" : {
                                "contents" : {
                                  "type" : "array",
                                  "description" : "참고 항목 내용",
                                  "items" : {
                                    "oneOf" : [ {
                                      "type" : "object"
                                    }, {
                                      "type" : "boolean"
                                    }, {
                                      "type" : "string"
                                    }, {
                                      "type" : "number"
                                    } ]
                                  }
                                },
                                "title" : {
                                  "type" : "string",
                                  "description" : "참고 항목 제목"
                                }
                              }
                            }
                          },
                          "groupTitle" : {
                            "type" : "string",
                            "description" : "참고 그룹 제목"
                          }
                        }
                      }
                    },
                    "explanations" : {
                      "type" : "array",
                      "description" : "구역 설명 리스트",
                      "items" : {
                        "oneOf" : [ {
                          "type" : "object"
                        }, {
                          "type" : "boolean"
                        }, {
                          "type" : "string"
                        }, {
                          "type" : "number"
                        } ]
                      }
                    },
                    "zoneId" : {
                      "type" : "number",
                      "description" : "구역 ID"
                    },
                    "tip" : {
                      "type" : "string",
                      "description" : "구역에 대한 팁"
                    }
                  }
                }
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetUserInfoResponse" : {
        "title" : "GetUserInfoResponse",
        "required" : [ "code", "isSuccess", "message", "payload" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "payload" : {
            "required" : [ "email", "nickname" ],
            "type" : "object",
            "properties" : {
              "nickname" : {
                "type" : "string",
                "description" : "유저의 닉네임"
              },
              "email" : {
                "type" : "string",
                "description" : "유저의 이메일"
              }
            },
            "description" : "응답 데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      }
    }
  }
}